/*
essential styles:
these make the slideshow work
*/

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
    font-family: Arial;
}

.fa-pause-circle, .fa-play-circle, .fa-angle-left, .fa-angle-right {
    border: none;
}

.slides {
    /* position: absolute; */
    height: 100%;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    object-fit: cover;
}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -999;
    transition: opacity 0.25s;
    /* font-size: 40px;
    padding: 40px; */
    background: #333;
    color: #fff;
}

.active {
    opacity: 1;
    z-index: 1;
}

.indicators, .controls {
    position: absolute;
    z-index: 4;
    display: flex;
    gap: 40px;
    justify-content: center;
}

.indicators {
    bottom: 50px;
    left: calc(50% - 15vh);
}

.controls {
    top: 50px;
    left: calc(50% - 10vh);
}

.indicator, .control {
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    user-select: none;
    transition: opacity 0.25s;
}

.indicator {
    border-radius: 15px;
    width: 30px;
    height: 30px;
    border: 3px solid rgba(255, 255, 255, 0.4);
}

.control:hover, .control:focus {
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0 0 10px #ffffff;
    transition: opacity 1s ease-in 0.5s;
}

.indicator.active {
    border-color: #eeeed6;
    box-shadow: 0 0 10px #ffffff;
}

/*
non-essential styles:
just for appearance; change whatever you want
*/